body{
    background-color: #c0c0c0;
    text-align: center;   
}
h1{
    margin-bottom: 50px;
    color: #ffffff;
    border-bottom: 4px solid #ffffff;
}
h2{
    color: #ffffff;
}

p{
    color: #ffffff;
}
h3{
    color: #ffffff; 
    font-size: 15
}